/node_modules
/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
Thumbs.db
/.idea
Vagrantfile
.vagrant/
tests/_output/*
.env.php
.env.*.php
_ide_helper.php
app/**/*.sqlite
app/**/*.pdf
app/**/*.doc
app/**/*.docx
app/config/packages/way/
app/templates/
public/images/empresa_logo/*
